# Archivos de distribución de PyPi
dist/
build/
*.egg-info/
*.egg

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos del entorno virtual
venv/
.env

# Carpeta y archivos de testeo
test

# Reflex
pyutal-docs